.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h3 {
    color: rgb(0, 0, 0);
  }
  
  .card {
    border: 2px solid black;
    width: 20%;
    background-color: peachpuff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    font-size: 12px;
  }
  
  .log-in {
    width: 15%;
    color: rgb(252, 252, 252);
    background-color: #FF0000;
    font-size: 25px;
    margin: 20px;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin: 20px;
  }